# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
